---
layout: layouts/base.njk
templateClass: tmpl-home
---
<p>
  These posts are a reflection of thoughts I have during development. As a senior engineer, with more than 10 years of experience, this is my attempt at combating impostor syndrome in the software development world.
</p>
<p>
  Feel free to reach out to me, I'm always in for a chat.
</p>
{{ content | safe }}
